#container {
	width:100%;
    height:100%;
    background-color:gray;
    position: absolute;
    background-image: url('group_v.jpg');
    background-size: cover;
    opacity: 0.6;
}
/*
.bgImg {
	width: 99%;
	height: 100%;
	background-color: black;
	position: absolute;
	
	
}

.dsaWrapper {
	width: 210px;
	height: 122px;
	bottom: 65px;
	left: 60px;
	opacity: 0.8;
	position: relative;
	background-color: orange;
	z-index: 100;
}
*/
.dsaBox {
	width: 91px;
	height: 98px;
	top: 395px;
	left: 60px;
	background-color: #566573;
	position: relative;
	z-index: 21;
	text-align: center;
	
}

.dsaBox p {
	color: #5DADE2;
	font-family: helvetica;
	top: 23px;
	position: relative;

}

.numBox {
	width: 118px;
	height: 98px;
	top: 234px;
	left: 152px;
	opacity: 0.9;
	background-color: #5DADE2;
	position: relative;
	text-align: left;
	font-family: helvetica;
	vertical-align: middle;
	z-index: 23;
}

.numBox p {
	color: white;
	font-size: 63px;
	text-align: center;
	position: relative;
	line-height: 98px;
}

.clearTxtBox {
	background-color: #2980B9;
	width: 60px;
	height: 23px;
	left: 60px;
	bottom: 65px;
	position: absolute;
	z-index: 27;

}

.clearTxtBox p {
	bottom-margin: 8em;
	text-align: center;
	font-size: 10px;
	font-family: Helvetica;
	line-height: 5px;
}

.findScoreBox {
	background-color: #4FC3F7;
	width: 150px;
	height: 23px;
	left: 120px;
	bottom: -225px;
	position: relative;
	z-index: 26;
}

.findScoreBox p {
	text-align: center;
	font-size: 10px;
	font-family: Arial;
	line-height: 25px;

}

nav {
	background-color: transparent;
	width: 650px;
	height: 60px;
	left: 500px;
	bottom: 87px;
	position: absolute;
}

ul li {
	display: inline;
	list-style-type: none;
}

li a {
	color: yellow;
	text-decoration: none;
	text-align: center;
	font-family: helvetica;
	font-size: 14px;
	background-color: transparent;
	padding: 10px 10px 10px 10px;

}

li a:hover:not(.active) {
	color: white;
}

.active li a {
	color: white;
}


